<aside class="btns">
	<button mat-fab color="primary" aria-label="Nuevo proyecto" (click)="createProject()">
		<mat-icon>create_new_folder</mat-icon>
	</button>
	<button mat-fab color="primary" aria-label="Nuevo cliente" (click)="createCustomer()">
		<mat-icon>person_add</mat-icon>
	</button>
	<button mat-fab color="accent" aria-label="Reporte diario">
		<mat-icon>cloud_download</mat-icon><br>
		Diario
	</button>
	<button mat-fab color="accent" aria-label="Reporte semanal">
		<mat-icon>cloud_download</mat-icon><br>
		Semanal
	</button>
	<button mat-fab color="accent" aria-label="Reporte mensual">
		<mat-icon>cloud_download</mat-icon><br>
		Mensual
	</button>
	<button mat-fab color="accent" aria-label="Reporte personalizado">
		<mat-icon>cloud_download</mat-icon><br>
		Person...
	</button>
</aside>
